* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Odibee Sans', cursive;
}

.container {
  background-image: url('https://minesweeper.online/img/world-of-minesweeper.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  border-radius: 50%;
  width: 500px;
  margin-left: 10%;
}

h2 {
  background-color: black;
  color: white;
}

h1 {
  color: red;
  background-color: lightgrey;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#se-perdi, #se-vinci {
  display: none;
}

#se-perdi.visible {
  display: block;
}

#se-vinci.visible {
  display: block;
}
